# Android emulator (Android Studio)
EXPO_PUBLIC_API_URL=http://10.0.2.2:8000

# If you run on iOS simulator / web / same machine, you can use:
# EXPO_PUBLIC_API_URL=http://127.0.0.1:8000

# If you run on physical phone, use your PC LAN IP:
# EXPO_PUBLIC_API_URL=http://192.168.1.50:8000
